@import "../../../vars.css";

.container {
  display: flex;
  color: var(--color-text-pojects);
  border-radius: 10px;
  background: var(--color-projects);
  box-shadow: var(--color-shadow);
  padding: 18px 24px;
  max-width: 1000px;
  margin: 25px;
}

.image {
  width: 400px;
  border-radius: 20px;
  margin-right: 20px;
  margin-bottom: 26px;
  transition: transform 0.3s ease;
}

.image:hover {
  transform: scale(1.1); 
}

.content {
  flex: 1;
}

.name {
  font-size: 25px;
  font-weight: 700;
}

.description {
  margin-top: 6px;
  font-size: 20px;
  font-weight: 400;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  font-size: 25px;
  font-weight: 400;
  border-radius: 100px;
  background-color: var(--color-icon-about);
  padding: 2px 22px;
  transition: transform 0.3s ease;
}

.skill:hover {
  transform: scale(1.1); 
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
  transition: transform 0.3s ease;
}

.links:hover {
  transform: scale(1.2); 
}

@media screen and (max-width: 1225px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    max-width: 345px;
  }

  .image {
    margin-bottom: 26px;
    width: 100%;
    border-radius: 10px;
  }
}
